<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title けーじばん
  body
    h1 ひみつのけーじばん
    h2 しんきとうこう
    form(action="/posts", method="post")
      div
        textarea(name="content", cols="40", rows="4")
      div
        button(type="submit") とうこうするっよ