<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= title
		body
		h1#message Hello
		#container
			.left
				.box1
				.box2
			.center
				.box3
				.box4
			.right
				.box5
				.box6

		#container2
			.top
			.second
				.sfi
				.sse
				.sfi
				.sse
				.sfi
				.sse
			.third
				.box
				.three
					.fi
					.se
					.th
			.footer
		script(src="./scripts/bundle.js")
		link(rel="stylesheet", href="./style/style.css")